* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root {
    --width: 100%;
    --height: 100vh;
    --primary-color: white;
    --secondary-color: #173DED;
    --bg-color: #0D1B2A;
    --font: 'rubik'
}

body {
    margin: 0;
    padding: 0;
    width: var(--width);
    max-width: 100%;
    min-height: var(--height);
    font-family: var(--font);
    background-color: var(--bg-color);
    overflow-x: hidden;
    position: relative;

}

#navbar {
    width: var(--width);
    position: fixed;
    color: var(--primary-color);
    z-index: 10;
    background-color: transparent;
    transition: background-color 0.3s ease;

    @media (max-width: 430px) {
        background-color: var(--bg-color) !important;

        .navbar-collapse {
            transition: 0.5s ease;
        }
        
        ul {
            align-items: flex-start !important;
        }
    }

    li a,
    .dropdown {
        color: var(--primary-color);
        font-weight: 600;
    }
}

form {
    margin-left: 1rem;
    display: inline-flex;
    gap: 1em;
}

.alert button {
    background: none;
    border: none;
}

#hero-section {
    max-width: 100%;
    height: var(--height);
    display: grid;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/static/bg3.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    backdrop-filter: blur(20px);

    @media (max-width: 430px) {
        height: 70dvh;
    }

    form {
        width: 100%;
        display: grid;
        gap: 2em;
        justify-items: center;
    }

    h1 {
        text-align: center;
        color: var(--primary-color);
        font-size: 3rem;
        font-weight: 700;

        @media (max-width: 430px) {
            font-size: 1.3rem;
        }
    }

}

 h6 {
    color: var(--primary-color);
    margin-bottom: 1rem;
    font-weight: 500;
    width: 100%;
    border-bottom: 0.5px solid grey;
    padding: 0.3em;
}

section {
    @media (max-width: 430px) {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}


@media (max-width: 430px) {
    .card {
        margin: 0 !important;
        height: 20dvh !important;
        margin: 0;
    }

    .card .row {
        flex-wrap: nowrap !important;
        max-width: 100% !important;
        height: 100% !important;
    }

    .card .col-md-4 {
        width: 40% !important;
        height: 100% !important;
        flex-shrink: 0 !important;

        img {
            max-width: 100% !important;
            height: 100%;
            object-fit: cover;
        }
    }

    .card .col-md-8,
    .card aside {
        width: 60% !important;
        flex-shrink: 0 !important;
        min-width: 0;
        height: 100% !important;

        .card-body {
            padding: 0.5em !important;
            gap: 0.5em;
            max-width: 100%;
            height: 100%;

            h5 {
                font-size: 0.8rem !important;
            }

            p {
                font-size: 0.5rem !important;
                color: grey;
            }
        }
    }


}

.music-gallery-section {
    @media (max-width: 430px) {
        max-width: var(--width);
        overflow-x: visible;
    }
}

.music-gallery {
    width: 100%;
    height: 40vh;

    @media (max-width: 430px) {
        overflow-x: auto;
        white-space: nowrap;
        width: calc(100% + 24px);
        height: 20dvh;
        padding: 0;
    }

    .row {
        @media (max-width: 430px) {
            grid-template-columns: repeat(5, 35%) !important;
            width: 100%;
            overflow-x: auto;
            white-space: nowrap;
            min-height: 20dvh !important;
        }
    }

    .card {
        @media (max-width: 430px) {
            display: inline-block;
            max-width: 100% !important;
            height: 16dvh !important;
        }
    }

    .card img {
        @media (max-width: 430px) {
            max-width: 100% !important;
            height: 100% !important;
            object-fit: cover !important;
        }
    }

    .card-body {
        @media (max-width: 430px) {
            width: 100% !important;
            padding-top: 0.2em !important;

            img {
                max-width: 12% !important;
                height: 100% !important;
                object-fit: cover !important;
            }
        }
    }

}

.review-list {
    @media (max-width: 430px) {
        width: var(--width);
        padding-left: 0.5em !important;
        padding-right: 0.5em !important;
    }

    .container-fluid {
        @media (max-width: 430px) {
            padding: 0 !important;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}

#review {
    @media (max-width: 430px) {
        max-width: 100% !important;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 0.5em !important;
    }

        .song-cover {
            width: 35%;
            height: 25vh;

            @media (max-width: 430px) {
                width: 100%;
                height: 15dvh;
                background-size: contain;
                border: none;
            }
        }

        .review-body {
            width: 65%;

            @media (max-width: 430px) {
                width: 100%;
                align-items: flex-start;
            }

            .username {
             margin: 0;
            }
            .username a {
                &:hover {
                    text-decoration: underline;
                }
            }

            .music-title {
                @media (max-width: 430px) {
                    font-size: 0.7rem;
                    text-align: left;
                }
            }

            .rating {
                width: 100%;

                @media (max-width: 430px) {
                    img {
                        max-width: 11%;
                    }
                }
            }

            .comment {
                @media (max-width: 430px) {
                    text-align: left;
                }
            }

            .likes-form {

                #like-btn,
                #likes-btn {
                    background: none;
                    border: none;
                }
            }
        }
}

@media (max-width: 430px) {
    #login-form,
    #register-form {
        width: 85% !important;
    }

    .btn {
        width: 60% !important;
    }
}

.songs-display {
    @media (max-width: 430px) {
        padding: 1em !important;

        .results {
            margin-top: 1rem !important;
        }
    }
}

.songs {
    height: 20vh;

    .song-cover {
            background-image: url('/static/song-covers/track1.png');
        }

        &:hover {
            background-color: #1A2E40;
        }

        @media (max-width: 430px) {
            padding: 1em 0 !important;
            height: 15vh !important;

            h4,
            span {
                font-size: 0.8rem !important;
             }

             h5 {
                font-size: 0.8rem !important;
             }

             p {
                margin-bottom: 0;
             }
        }
}

.greeting {
    width: 100%;
    height: 20dvh;

    @media (max-width: 430px) {
        height: 16dvh;
    }

    h1 {
        width: 100%;

        @media (max-width: 430px) {
            font-size: 1.3rem !important;
            padding: 0 1em;
        }

    }
}

#top-reviewers {
    @media (max-width: 430px) {
        width: 100% !important;
        margin-top: 1em !important;
    }
}
