{% extends 'layout.html' %}
{% block content%}
  <!-- hero section -->
            <section class="container-fluid p-0" id="hero-section" style="justify-items: center; align-content: center; gap: 1em;">
    
                    <h1>
                        What have you been listening to?<br>
                        Tell your friends about horrible tracks.
                    </h1>
                    <button class="btn btn-primary btn-lg" type="submit" style="background-color: #67BAF4;"><a href="/login" style="text-decoration: none; color: white;">Get Started</a></button>

            </section>

            <!-- song gallery -->
            <section class='w-100 h-auto p-4 music-gallery-section'>
                <h6>Popular songs this week</h6>
            {% if popular_songs %}
                <div class="container music-gallery p-0" style="color: white; display: flex; align-items: center; justify-content: center; gap: 1em;">
                    <div class="row w-100 d-grid gap-2" style="grid-template-columns: repeat(5, 2fr);">
                        {% for song in popular_songs %}
                        <div class="col p-0" id='song-card' style="background-image: url('{{ song.cover_img_url }}'); max-width: 100%; height: 35vh; background-size: contain; background-position: center; background-repeat: no-repeat; border-radius: 7px;">
                        </div>
                        {% endfor %}
                    </div>
                </div>
            {% else %}
                <p>No reviews yet. Be the first to add one!</p>
            {% endif %}
            </section>

               <!-- more info -->
          <section class="card mb-3 w-75 h-75 overflow-hidden align-self-center" id="explore" style="justify-self: center; align-self: center;">
            <div class="row g-0 w-100 h-100">
                <div class="col-md-4 h-100">
                    <img src="/static/track2.png" mw-100 mh-100 class="img-fluid rounded-start" alt="song-cover">
                </div>
                <aside class="col-md-8 align-self-center">
                    <div class="card-body">
                        <h5 class="card-title">100Pages let's you:</h5>
                        <p class="card-text">
                            1. Keep track of every song you’ve ever listened to (or just start from the day you join).<br>
                            2. Show some love for your favorite songs, albums and reviews with a “like”. And write and share reviews.
                        </p>
                    </div>
                </aside>
            </div>
          </section>

            <!-- popular reviews -->
        <section class='w-100 p-2'>
            <h6>Recent reviews</h6>
            {% if reviews %}
                <div class="container-fluid" style="color: white;">
                    <div class="row d-grid gap-2" style="grid-template-columns: repeat(2, 1fr);">
                        {% for review in reviews %}
                        <div class="col" id='review' style="display: flex; gap: 1em; padding: 1em; border-bottom: 0.5px solid grey; align-items: flex-start;">
                            <div class='song-cover' style="background-image: url('{{ review.cover_img_url }}'); background-size: contain; background-position: center; background-repeat: no-repeat;">
                            </div>
                            <aside class='review-body' style="display: flex; flex-direction: column; justify-content: center;">
                                <h2 class='music-title' style="font-size: 0.9rem; font-weight: 600;">{{ review.song_title }} by {{ review.artist }}</h2>
                                <h5 class='username' style="margin: 0;">
                                    <a href="/user" style="font-size: 0.8rem; color: var(--primary-color); text-decoration: none; height: fit-content;">
                                        @{{ review.username }}
                                    </a>
                                </h5>
                                <div class='rating' style="display: flex; gap: 0.2em; padding: 0.5em 0;">
                                {% for i in range(review.rating) %}
                                    <img src='static/star-solid.svg' alt='like' style="max-width: 6%;"/>
                                {% endfor %}
                                </div>
                                <p class='comment' style="font-size: 0.9rem; font-style: italic; color: grey;">'{{ review.review_content }}'</p>
                                <form class='likes-form m-0 align-items-center gap-1' action='/likes' method='post' id='likes-form' style="width: 100%; height: 5vh;">
                                    <button id='like-btn' type='submit' style="background: none; cursor: pointer;">
                                        <img src='static/heart.svg' alt='like'/>
                                    </button>
                                    <span class='like-count' style="font-size: 0.8rem; font-weight: 300;"> {{review.total_likes}} likes</span>
                                    <input type="hidden" name="review_id" value="{{ review.review_id }}"/>
                                </form>
                            </aside>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                {% else %}
                  <p class='fs-6'>No reviews written yet.</p>
                {% endif %}
        </section>
        <section class="card mb-3 w-75 h-75 overflow-hidden align-self-center" id="explore" style="justify-self: center; align-self: center;">
            <div class="row g-0 w-100 h-100">
                <div class="col-md-4 h-100">
                    <img src="/static/creator01.jpeg" mw-100 mh-100 class="img-fluid rounded-start" alt="song-cover">
                </div>
                <aside class="col-md-8 align-self-center">
                    <div class="card-body">
                        <h5 class="card-title">About the creator:</h5>
                        <p class="card-text">
                            Avuzwa is a self taught software developer with a passion for music.
                            She has been listening to music since she was a child and has always wanted to create a platform
                            where people can share their thoughts on the music they love (or hate).
                            In her free time, she enjoys developing software application, and learning more about computer science.
                        </p>
                    </div>
                </aside>
            </div>
        </section>
{% endblock%}
