{% extends 'layout.html' %}
{% block content %}
    <section id="activity-notifications">
        <h6>Activity</h6>
        <div id="notifications-wrapper">
            {% for activity in notifications %}
            <div id="activity">
                {% if activity.type == 'liked_review' %}
                    <p>
                        You liked {{activity.username}}'s review of {{activity.songTitle}} by {{activity.artist}}
                    </p>
                    <span>{{activity.date}}</span>
                {% elif activity.type == 'like_received' %}
                    <p>
                        {{activity.username}} liked your review of {{activity.songTitle}} by {{activity.artist}}
                    </p>
                    <span>{{activity.date}}</span>
                {% else %}
                    <p>
                        You added a review of the song {{activity.songTitle}} by {{activity.artist}}
                    </p>
                    <span>{{activity.date}}</span>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}