{% extends 'layout.html' %}
{% block content %}
    <section id="activity-notifications">
        <h6>Activity</h6>
        <div id="notifications-wrapper">
            {% for activity in notifications %}
            <div id="activity">
                {% if activity.type == 'liked_review' %}
                    <p>
                        You liked {{activity.sender}}'s review of {{activity.song_title}} by {{activity.artist}}
                    </p>
                    <span>{{activity.}}</span>
                {% elif activity.type == 'like_received' %}
                    <p>
                        {{activity.sender}} liked your review of {{activity.song_title}} by {{activity.artist}}
                    </p>
                    <span>{{activity.created_at}}</span>
                {% else %}
                    <p>
                        You added a review of the song {{activity.song_title}} by {{activity.artist}}
                    </p>
                    <span>{{activity.created_at}}</span>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}