{% extends "layout.html" %}

{% block content %}
  <title>Register | 100Pages</title>
  <div style='height: 100vh;' class='d-grid align-items-center'>
        {% if message %}
        <div class="alert alert-warning alert-dismissible fade show w-50 p-20 d-flex justify-content-between position-fixed top-20 start-50 translate-middle" role="alert">
            <strong>{{message}}</strong>
        </div>
        {% endif %}
        <form class='w-50 border p-3 bg-light d-grid mx-auto gap-0 rounded border border-primary' id='register-form' action='/register' method='POST'>
            <h5 class='align-self-center text-center w-auto' style="color: #0077B6;">Welcome to 100Pages!</h5>
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control h-50" autocomplete='off' name="username" id="username" aria-describedby="emailHelp" placeholder="Enter username">
            </div>
            <div class="form-group d-flex">
                <div>
                    <label for="name">Name</label>
                    <input type="text" class="form-control h-50" autocomplete='off' name="name" id="name" aria-describedby="emailHelp" placeholder="Enter name">
                </div>
                <div>
                    <label for="surname">surname</label>
                    <input type="text" class="form-control h-50" autocomplete='off' name="surname" id="surname" aria-describedby="emailHelp" placeholder="Enter surname">
                </div>
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Email</label>
                <input type="email" class="form-control h-50" autocomplete='off' name="email" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" >
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <div style="width: 100%; background-color: white; display: flex; align-items: center; border: 1px solid lightgrey; padding: 0.2em; border-radius: 5px;" id="password-wrapper">
                    <input type="password" class="form-control h-50" autocomplete='off' name="password" id="password-field" placeholder="Enter password" style="background: none; border: none; outline: none; box-shadow: none;">
                    <span class="eye-icon" id="toggle-password" style="cursor: pointer;"><img src="static/eye-closed.svg" class="img-fluid" /></span>
                </div>
            </div>
            <div class="form-group">
                <label for="confirm-password">Password(again)</label>
                <div style="width: 100%; background-color: white; display: flex; align-items: center; border: 1px solid lightgrey; padding: 0.2em; border-radius: 5px;" id="password-wrapper">
                    <input type="password" class="form-control h-50" autocomplete='off' name="password" id="confirm-password" placeholder="Enter password" style="background: none; border: none; outline: none; box-shadow: none;">
                    <span class="eye-icon-again" id="confirm-password-toggle" style="cursor: pointer;"><img src="static/eye-closed.svg" class="img-fluid" /></span>
                </div>
            </div>
            <button type="submit" class="btn btn-primary h-75 w-25 align-self-end" style="background-color: #0077B6;">SIGN UP</button>
            <span class="form-text text-muted pt-1">
                Already have an account? <a href='/login'>SIGN IN</a>
            </span>
        </form>
    </div>
{% endblock %}
