{% extends "layout.html" %}

{% block content %}
    <title>Login | 100Pages</title>
    <div style='height: 100vh;' class='d-grid align-items-center'>
        {% if error %}
        <div class="alert alert-warning alert-dismissible fade show w-50 p-20 d-flex justify-content-between position-fixed top-50 start-50 translate-middle z-3" role="alert">
                <strong>{{error}}</strong>
        </div>
        {% endif %}
        {% if emailConfirmed %}
            <form class='h-75 w-50 border p-4 bg-light d-grid mx-auto gap-0 rounded border border-primary' id='login-form' action='/resetPassword' method='POST'>
                <h5 class='align-self-center text-center w-auto' style="color: #0077B6;">Forgot password</h5>
                <p >**Set a new password to reset your password</p>
                <div class="form-group">
                    <label for="exampleInputPassword1">New password</label>
                    <div style="width: 100%; background-color: white; display: flex; align-items: center; border: 1px solid lightgrey; padding: 0.2em; border-radius: 5px;">
                        <input type="password" class="form-control h-50" autocomplete='off' name="password" id="password-field" placeholder="Enter password" style="background: none; border: none;">
                        <span class="eye-icon" id="toggle-password" style="cursor: pointer;"><img src="static/eye-closed.svg" class="img-fluid" /></span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">New password (again)</label>
                    <div style="width: 100%; background-color: white; display: flex; align-items: center; border: 1px solid lightgrey; padding: 0.2em; border-radius: 5px;">
                        <input type="password" class="form-control h-50" autocomplete='off' name="confirmation" id="confirm-password" placeholder="Enter password" style="background: none; border: none;">
                        <span class="eye-icon-again" id="confirm-password-toggle" style="cursor: pointer;"><img src="static/eye-closed.svg" class="img-fluid" /></span>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary w-25 align-self-center" style="background-color: #0077B6; height: 6vh;">SUBMIT</button>
                <small><a href='/login'>BACK TO LOGIN PAGE</a></small>
                <input type=hidden name="user_id" value="{{user_id}}"/>
            </form>
        {% else %}
            <form class='h-75 w-50 border p-4 bg-light d-grid mx-auto gap-0 rounded border border-primary' id='login-form' action='/validateUseremail' method='POST'>
                <h5 class='align-self-center text-center w-auto' style="color: #0077B6;">Forgot password</h5>
                <p >**Enter your email address to reset your password</p>
                <div class="form-group">
                    <label for="exampleInputEmail1">Email</label>
                    <input type="text" class="form-control h-50" autocomplete='off' name="email" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter your email">
                </div>
                <button type="submit" class="btn btn-primary w-25 align-self-center" style="background-color: #0077B6; height: 6vh;">SUBMIT</button>
                <small><a href='/login'>BACK TO LOGIN PAGE</a></small>
            </form>
        {% endif %}
    </div>
{% endblock %}
