{% extends 'layout.html' %}
<title> 100Pages | Profile</title>
{% block content %}
     <section class='w-100 mt-2 p-4 review-list'>
        {% if message %}
        <div class="alert alert-warning alert-dismissible fade show w-50 p-20 d-flex justify-content-between position-fixed top-50 start-50 translate-middle z-3" role="alert">
                <strong>{{message}}</strong>
        </div>
        {% endif %}
        <div class='greeting' style="display: grid; align-items: end; justify-items: center; padding: 1em 0;">
            <h1 style="color: grey; text-align: center; font-weight: 200; font-size: 1.9rem;">Here's the collection of reviews <span style="color: white; text-decoration: underline;">{{username}}</span> has written...</h1>
        </div>
        {% if reviews %}
                <div class="container-fluid" style="color: white;">
                    <div class="row w-100 d-grid gap-2" style="grid-template-columns: repeat(2, 1fr);">
                        {% for review in reviews %}
                        <div class="col" id='review' style="display: flex; gap: 1em; padding: 1em; border-bottom: 0.5px solid grey; align-items: flex-start;">
                            <div class='song-cover' style="background-image: url('{{ review.cover_img_url }}'); background-size: contain; background-position: center; background-repeat: no-repeat;">
                            </div>
                            <aside class='review-body' style="display: flex; flex-direction: column; justify-content: center;">
                                <h2 class='music-title' style="font-size: 0.9rem; font-weight: 600;">{{ review.song_title }} by {{ review.artist }}</h2>

                                 <div class='rating' style="display: flex; gap: 0.2em; padding: 0.5em 0;">
                                {% for i in range(review.rating) %}
                                    <img src="/static/star-solid.svg" alt='like' style="max-width: 6%;"/>
                                {% endfor %}
                                </div>
                                <p class='comment' style="font-size: 0.9rem; font-style: italic; color: grey;">'{{ review.review_content }}'</p>
                                <form class='likes-form m-0 align-items-center gap-1' action='/likes' method='post' id='likes-form' style="width: 100%; height: 5vh;">
                                    <button id='like-btn' type='submit' style="background: none; cursor: pointer;" >
                                        {% if review.liked %}
                                            <img src="/static/heart-solid.svg" alt='like'/>
                                        {% else %}
                                            <img src="/static/heart.svg" alt='like'/>
                                        {% endif %}
                                    </button>
                                    <span class='like-count' style="font-size: 0.8rem; font-weight: 300;"> {{review.total_likes}} likes</span>
                                    <input type="hidden" name="review_id" value="{{ review.review_id }}"/>
                                </form>
                            </aside>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                {% else %}
                <p class='fs-6'>{{username}} haven't written any reviews yet.</p>
                {% endif %}
            </section>
{% endblock %}
